.test{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.block {
    height: 200px;
    width: 350px;
    border: 3px solid hotpink;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightblue;
}

.test2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.test3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.test4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}